<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="736" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<levels>
			<map path="Assets/Maps/" name="Level0.tmx" number="0" ix="320" iy="100" />
			<map path="Assets/Maps/" name="Level1.tmx" number="1" ix="60" iy="192" />
			<map path="Assets/Maps/" name="Level2.tmx" number="2" ix="1910" iy="150" />
		</levels>
		<entities>
			<player dx="43" dy="175" dlevel="1" ix="320" iy="100" x="1848" y="136" w="16" h="32" texture="Assets/Textures/PlayerV2.png">
				<animations>
					<idle loop="true" speed="0.06">
						<frame x="0" y="32" w="16" h="32" />
						<frame x="16" y="32" w="16" h="32" />
						<frame x="32" y="32" w="16" h="32" />
					</idle>
					<run loop="true" speed="0.12">
						<frame x="0" y="0" w="16" h="32" />
						<frame x="16" y="0" w="16" h="32" />
						<frame x="32" y="0" w="16" h="32" />
						<frame x="48" y="0" w="16" h="32" />
						<frame x="64" y="0" w="16" h="32" />
						<frame x="80" y="0" w="16" h="32" />
					</run>
					<shoot>
						<frame x="0" y="64" w="16" h="32" />
						<frame x="16" y="64" w="16" h="32" />
						<frame x="32" y="64" w="16" h="32" />
					</shoot>
					<jump loop="true" speed="0.06">
						<frame x="0" y="96" w="16" h="32" />
						<frame x="16" y="96" w="16" h="32" />
						<frame x="32" y="96" w="16" h="32" />
					</jump>
					<fall loop="true" speed="0.06">
						<frame x="48" y="96" w="16" h="32" />
						<frame x="64" y="96" w="16" h="32" />
						<frame x="80" y="96" w="16" h="32" />
					</fall>
					<dmg loop="false" speed="0.12">
						<frame x="0" y="128" w="16" h="32" />
						<frame x="16" y="128" w="16" h="32" />
						<frame x="32" y="128" w="16" h="32" />
						<frame x="48" y="128" w="16" h="32" />
						<frame x="64" y="128" w="16" h="32" />
						<frame x="80" y="128" w="16" h="32" />
					</dmg>
					<die loop="false" speed="0.12">
						<frame x="0" y="160" w="16" h="32" />
						<frame x="16" y="160" w="16" h="32" />
						<frame x="32" y="160" w="16" h="32" />
						<frame x="48" y="160" w="16" h="32" />
						<frame x="64" y="160" w="16" h="32" />
						<frame x="80" y="160" w="16" h="32" />
					</die>
				</animations>
			</player>
			<enemies>
				<enemy id="1" name="evilwizard" x="85" y="28" w="16" h="32" texture="Assets/Textures/Enemies.png" gravity="true" level="1" dead="false" deadSave="false">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="96" w="16" h="32" />
							<frame x="16" y="96" w="16" h="32" />
						</idle>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.06">
							<frame x="64" y="64" w="16" h="32" />
							<frame x="80" y="64" w="16" h="32" />
						</die>
					</animations>
				</enemy>
				<enemy id="2" name="evilwizard" x="66" y="13" w="16" h="32" texture="Assets/Textures/Enemies.png" gravity="true" level="1" dead="false" deadSave="false">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="96" w="16" h="32" />
							<frame x="16" y="96" w="16" h="32" />
						</idle>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.06">
							<frame x="64" y="64" w="16" h="32" />
							<frame x="80" y="64" w="16" h="32" />
						</die>
					</animations>
				</enemy>
				<enemy id="3" name="evilwizard" x="257" y="38" w="16" h="32" texture="Assets/Textures/Enemies.png" gravity="true" level="1" dead="false" deadSave="false">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="96" w="16" h="32" />
							<frame x="16" y="96" w="16" h="32" />
						</idle>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.06">
							<frame x="64" y="64" w="16" h="32" />
							<frame x="80" y="64" w="16" h="32" />
						</die>
					</animations>
				</enemy>
				<enemy id="4" name="evilwizard" x="306" y="37" w="16" h="32" texture="Assets/Textures/Enemies.png" gravity="true" level="1" dead="false" deadSave="false">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="96" w="16" h="32" />
							<frame x="16" y="96" w="16" h="32" />
						</idle>
						<idle loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</idle>
						<die loop="false" speed="0.06">
							<frame x="64" y="64" w="16" h="32" />
							<frame x="80" y="64" w="16" h="32" />
						</die>
					</animations>
				</enemy>
				<enemy id="5" name="bat" x="111" y="15" w="21" h="16" texture="Assets/Textures/Enemies.png" gravity="false" level="1" dead="false" deadSave="false">
					<animations>
						<fly loop="true" speed="0.06">
							<frame x="0" y="160" w="21" h="16" />
							<frame x="21" y="160" w="21" h="16" />
							<frame x="42" y="160" w="21" h="16" />
							<frame x="63" y="160" w="21" h="16" />
						</fly>
						<idle loop="true" speed="0.06">
							<frame x="0" y="176" w="21" h="16" />
							<frame x="21" y="176" w="21" h="16" />
						</idle>
						<die loop="false" speed="0.06">
							<frame x="84" y="160" w="21" h="16" />
							<frame x="105" y="160" w="21" h="16" />
						</die>
					</animations>
				</enemy>
				<enemy id="6" name="bat" x="312" y="21" w="21" h="16" texture="Assets/Textures/Enemies.png" gravity="false" level="1" dead="true" deadSave="false">
					<animations>
						<fly loop="true" speed="0.06">
							<frame x="0" y="160" w="21" h="16" />
							<frame x="21" y="160" w="21" h="16" />
							<frame x="42" y="160" w="21" h="16" />
							<frame x="63" y="160" w="21" h="16" />
						</fly>
						<idle loop="true" speed="0.06">
							<frame x="0" y="176" w="21" h="16" />
							<frame x="21" y="176" w="21" h="16" />
						</idle>
						<die loop="false" speed="0.06">
							<frame x="84" y="160" w="21" h="16" />
							<frame x="105" y="160" w="21" h="16" />
						</die>
					</animations>
				</enemy>
			</enemies>
			<fireball texture="Assets/Textures/Fireball.png" w="8" h="8">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="0" y="32" w="16" h="16" />
						<frame x="16" y="32" w="16" h="16" />
						<frame x="32" y="32" w="16" h="16" />
						<frame x="48" y="32" w="16" h="16" />
						<frame x="64" y="32" w="16" h="16" />
					</idle>
					<explode loop="false" speed="0.16">
						<frame x="0" y="48" w="16" h="16" />
						<frame x="16" y="48" w="16" h="16" />
						<frame x="32" y="48" w="16" h="16" />
						<frame x="48" y="48" w="16" h="16" />
						<frame x="64" y="48" w="16" h="16" />
						<frame x="80" y="48" w="16" h="16" />
					</explode>
				</animations>
			</fireball>
			<firecamp texture="Assets/Textures/Firecamp.png" w="16" h="16">
				<animations>
					<idle loop="false" speed="0.16">
						<frame x="0" y="0" w="16" h="16" />
					</idle>
					<on loop="true" speed="0.06">
						<frame x="0" y="16" w="16" h="16" />
						<frame x="16" y="16" w="16" h="16" />
						<frame x="32" y="16" w="16" h="16" />
						<frame x="48" y="16" w="16" h="16" />
						<frame x="64" y="16" w="16" h="16" />
					</on>
				</animations>
			</firecamp>
			<poison texture="Assets/Textures/Poison.png" w="8" h="32">
				<animations>
					<idle loop="true" speed="0.10">
						<frame x="0" y="0" w="8" h="32" />
						<frame x="8" y="0" w="8" h="32" />
						<frame x="16" y="0" w="8" h="32" />
						<frame x="24" y="0" w="8" h="32" />
						<frame x="32" y="0" w="8" h="32" />
						<frame x="40" y="0" w="8" h="32" />
						<frame x="48" y="0" w="8" h="32" />
						<frame x="56" y="0" w="8" h="32" />
						<frame x="64" y="0" w="8" h="32" />
						<frame x="72" y="0" w="8" h="32" />
						<frame x="80" y="0" w="8" h="32" />
						<frame x="88" y="0" w="8" h="32" />
						<frame x="96" y="0" w="8" h="32" />
						<frame x="104" y="0" w="8" h="32" />
						<frame x="112" y="0" w="8" h="32" />
						<frame x="120" y="0" w="8" h="32" />
					</idle>
				</animations>
			</poison>
		</entities>
		<audio>
			<fx>
				<fireball1SFX path="Assets/Audio/Fx/magic-fireball.ogg" />
				<fireball2SFX path="Assets/Audio/Fx/fireball_land.ogg" />
				<enemydSFX path="Assets/Audio/Fx/enemy_die.ogg" />
				<saveSFX path="Assets/Audio/Fx/save.ogg" />
				<loadSFX path="Assets/Audio/Fx/load_save.ogg" />
				<pdeathSFX path="Assets/Audio/Fx/player_death.ogg" />
				<acidkillSFX path="Assets/Audio/Fx/acid.ogg" />
				<bonfireSFX path="Assets/Audio/Fx/bonfire.ogg" />
				<landSFX path="Assets/Audio/Fx/land.ogg" />
				<jumpSFX path="Assets/Audio/Fx/jump.ogg" />
			</fx>
			<music>
				<Music1SFX path="Assets/Audio/Music/Character_Config.wav" />
			</music>
		</audio>
		<bonfires>
			<bonfire level="2" activated="false" x="504" y="312" />
			<bonfire level="2" activated="false" x="928" y="136" />
			<bonfire level="2" activated="true" x="1848" y="136" />
			<bonfire level="2" activated="false" x="2104" y="280" />
			<bonfire level="2" activated="false" x="2720" y="96" />
		</bonfires>
	</scene>
</config>
