<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="736" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<levels>
			<map path="Assets/Maps/" name="Level0.tmx" number="0"/>
			<map path="Assets/Maps/" name="Level1.tmx" number="1"/>
		</levels>
		<entities>
			<player ix="100" iy="80" x="100" y="80" w="16" h="32" texture="Assets/Textures/PlayerV2.png">
				<animations>
					<idle loop="true" speed="0.06">
						<frame x="0" y="32" w="16" h="32" />
						<frame x="16" y="32" w="16" h="32" />
						<frame x="32" y="32" w="16" h="32" />
					</idle>
					<run loop="true" speed="0.12">
						<frame x="0" y="0" w="16" h="32" />
						<frame x="16" y="0" w="16" h="32" />
						<frame x="32" y="0" w="16" h="32" />
						<frame x="48" y="0" w="16" h="32" />
						<frame x="64" y="0" w="16" h="32" />
						<frame x="80" y="0" w="16" h="32" />
					</run>
					<shoot>
						<frame x="0" y="64" w="16" h="32" />
						<frame x="16" y="64" w="16" h="32" />
						<frame x="32" y="64" w="16" h="32" />
					</shoot>
					<jump loop="true" speed="0.06">
						<frame x="0" y="96" w="16" h="32" />
						<frame x="16" y="96" w="16" h="32" />
						<frame x="32" y="96" w="16" h="32" />
					</jump>
					<fall loop="true" speed="0.06">
						<frame x="48" y="96" w="16" h="32" />
						<frame x="64" y="96" w="16" h="32" />
						<frame x="80" y="96" w="16" h="32" />
					</fall>
					<die loop="false" speed="0.12">
						<frame x="0" y="160" w="16" h="32" />
						<frame x="16" y="160" w="16" h="32" />
						<frame x="32" y="160" w="16" h="32" />
						<frame x="48" y="160" w="16" h="32" />
						<frame x="64" y="160" w="16" h="32" />
						<frame x="80" y="160" w="16" h="32" />
					</die>
				</animations>
			</player>
			<enemies>
				<enemy name="evilwizard" x="150" y="100" w="16" h="32" texture="Assets/Textures/Enemies.png" gravity="true" level="0">
					<animations>
						<idle loop="true" speed ="0.06">
							<frame x="0" y="96" w="16" h="32" />
							<frame x="16" y="96" w="16" h="32" />
						</idle>
						<idle loop="true" speed ="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="bat" x="180" y="100" w="16" h="16" texture="Assets/Textures/Player.png" gravity="true" level="1">
					<animations>
						<idle loop="true" speed ="0.06">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
							<frame x="32" y="0" w="16" h="16" />
							<frame x="48" y="0" w="16" h="16" />
						</idle>
					</animations>
				</enemy>
			</enemies>
			<fireball texture="Assets/Textures/Fireball.png" w="8" h="8">
				<animations>
					<idle loop="false" speed ="0">
						<frame x="0" y="0" w="8" h="8" />
					</idle>
				</animations>
			</fireball>
		</entities>
	</scene>
</config>
